.card {
    width: 400px;
    height: 500px;
    border-width: 3px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-family: "Inter", ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.card__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.card__picture {
    width: 400px;
    height: 400px;
}

.card__buy {
    border: none;
    border-radius: 7px;
}

.card__like-part {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.card__like {
    width: 23px;
    height: 20px;
    background-image: url('../../images/card-like.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
    padding: 0;
    align-self: center;
  }
  