.header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 200px;
  height: 100px;
}

.header__menu-container {
  width: 174px;
  height: 174px;
  position: relative;
}

.header__menu {
  width: 174px;
  height: 174px;
  border-radius: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition-property: transform;
  transition-duration: 3s;
}

.header__button {
  width: 64px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 32px;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-size: 11px;
  transition-property: transform;
  transition-duration: 3s;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__activebtn-background {
  width: 66px;
  height: 66px;
  border-radius: 33px;
  border: 2px solid rgb(221, 9, 9);
  position: absolute;
  top: -2px;
  left: 53px;
  background-color: rgba(222, 125, 13);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(.99, -0, 1, .03);
}

.header__activebtn-background_checked {
  opacity: 0.5;
  z-index: 2;
}

.header__activebtn-background_close {
  transition-duration: 0s;
}

.header__button_last {
  margin-top: 0;
}

.header__button_signinactive {
  transform: rotate(-60deg);
}

.header__button_registeractive {
  transform: rotate(60deg);
}

.header__button_aboutactive {
  transform: rotate(-180deg);
}

.header__menu_signinactive {
  transform: rotate(60deg);
}

.header__menu_registeractive {
  transform: rotate(-60deg);
}

.header__menu_aboutactive {
  transform: rotate(180deg);
}

.header__firstbtnscontainer {
  width: 158px;
  height: 64px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}

.header__lastbtncontainer {
  width: 174px;
  height: 64px;
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
}
