.cardlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  padding-bottom: 80px;
}

.cardlist_memslist {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  column-gap: 36px;
  row-gap: 24px;
}
